* {
  padding: 0;
  margin: 0;
  box-sizing: border;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/* Home page */

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(1, 0, 5, 0.3), rgba(4, 1, 17, 0.3));
}

nav {
  width: 100%;
  position: fixed;
  background: white;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 15%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

nav .logo {
  display: flex;
  width: 60px;
  margin: 2vh;
  margin-left: 5%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

.navbar {
  display: block;
  margin-right: 8vh;
}

.navbar a {
  color: rgb(5, 5, 5);
  font-size: 18px;
  padding: 15px 12px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  transition: ease 0.4s;
}

.icons {
  background-color: #101010;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" NaN;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 17px;
}

.title {
  text-decoration: none;
  font-size: 4vh;
  color: rgb(255, 255, 255);
  padding: 14px 17px;
  margin-top: 25vh;
  text-align: center;
  vertical-align: center;
}

.title h1 {
  font-size: 10vh;
  text-shadow: 2px black;
  transition: ease 0.3s;
}

.title h1:hover {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}

.button {
  display: inline-block;
  position: static;
  font-size: 12px;
  padding: 10px 30px;
  color: rgb(21, 74, 74);
  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, 0.2);
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  flex-wrap: wrap;
  transition: all 0.3ms ease;
}

.button:hover {
  color: white;
  background-color: #d9d4d4;
  box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, 0.2);
  padding: 10px 30px;
}

/* Services */

.text h2 {
  font-size: 40px;
  font-weight: 650;
  margin-top: 40px;
  margin-bottom: 10px;
  line-height: 2;
  text-align: center;
}

.rowitems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 85px;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 1px;
  gap: 2px;
}

.container-box {
  width: 150px;
  margin-bottom: 20px;
  height: 234px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.7s ease 0s; 
  cursor: pointer;
}

.container-image img {
  height: 50px;
  width: 50px;
  padding: 10px;
  margin-bottom: 15px;
}

.container-box h4 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 550;
}

.container-box p {
  font-size: 16px;
  color: #808080;
}

.container-box:hover {
  transform: translateX(3px);
  box-shadow: 5px 20px 50px rgba(78, 78, 78, 0.1);
  border: 1px solid transparent;
  border-radius: 0px;
}

/* Packages */

.package {
  display: grid;
  padding: 10px;
  gap: 2px;
}

.package2 {
  display: grid;
  padding: 10px;
  gap: 0px;
}

.package-title {
  text-align: center;
}

.package-title h2 {
  font-size: 30px;
  font-weight: 650;
  padding-bottom: 10px;
  line-height: 2;
}

.package-content {
  border-radius: 15px;
  padding: 25px;
  padding-right: 50px;
  display: flex;
  background: linear-gradient(#445056, #47addd 45%, #fff 45%, #fff 100%);
  box-shadow: 10px 10px 15px #3b3737;
  margin-top: 5px;
  margin-left: 149px;
  margin-right: 149px;
  margin-bottom: 1px;
  gap: 15px;
}

.package2-content {
  border-radius: 15px;
  padding: 25px;
  padding-right: 50px;
  display: flex;
  background: linear-gradient(#445056, #47addd 45%, #fff 45%, #fff 100%);
  box-shadow: 10px 10px 15px #3b3737;
  margin-top: 5px;
  margin-left: 149px;
  margin-right: 149px;
  margin-bottom: 1px;
  gap: 15px;
}

.pack4-content {
  background-color: #fdf5f5;
  border-radius: 5px;
  background-image: url("https://akam.cdn.jdmagicbox.com/images/icontent/flight/landing-page_3jan-2x.png");
  padding: 25px;
  padding-right: 50px;
  display: flex;
  margin-top: 5px;
  margin-left: 199px;
  margin-right: 199px;
  margin-bottom: 1px;
  gap: 15px;
}

.pack5-content {
  background-color: #fdf5f5;
  border-radius: 15px;
  background-image: url("https://images.pexels.com/photos/1122640/pexels-photo-1122640.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  box-shadow: 10px 10px 15px #3b3737;
  padding: 25px;
  padding-right: 50px;
  display: flex;
  margin-top: 5px;
  margin-left: 149px;
  margin-right: 149px;
  margin-bottom: 1px;
  gap: 15px;
}

.text-block {
  margin-bottom: 40px;
  color: #fff;
  position: absolute;
  margin-bottom: 150px;
  text-align: left;
}

.image {
  margin-top: 50px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  filter: brightness(95%);
}

.image img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}

.image h3 {
  color: white;
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  bottom: 10px;
  right: 25px;
}

.image:hover {
  filter: brightness(120%);
  transform: scale(1.03);
}

/* Button */

.btn {
  display: inline-block;
  padding: 10px;
  width: 140px;
  font-weight: 500px;
  color: rgb(0, 0, 0);
  background-color: whitesmoke;
  margin-top: 30px;
  border-radius: 10px;
  transition: ease 0.3s;
}
.btn a{
  font-size: medium;
  font-weight: 600;
color: black;
}
.btn:hover{
  box-shadow: 5px 5px 10px #3b3737;
}

/* Locations */

.location-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col-content {
  position: relative;
  filter: brightness(95%);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.col-content img {
  margin-bottom: 10px;
  height: 300px;
  border-radius: 27px;
  width: 100%;
}

.col-content h5 {
  position: absolute;
  font-size: 15px;
  color: white;
  font-weight: 500;
  left: 20px;
  bottom: 105px;
  cursor: pointer;
}

.col-content p {
  position: absolute;
  font-size: 10px;
  color: white;
  left: 20px;
  bottom: 80px;
  cursor: pointer;
}

.col-content:hover {
  filter: brightness(120%);
  transform: scale(1.03);
  cursor: pointer;
}

/* Newsletter */

.newsletter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.newstext h2 {
  margin-top: 100px;
  font-size: 38px;
}

.newstext p {
  font-size: 20px;
  color: #4c4c4c;
}

.newsletter form {
  margin-top: 100px;
  width: 100%;
  position: relative;
}

.newsletter form input:first-child {
  display: inline-block;
  width: 300px;
  font-size: 17px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 20px 150px 20px 30px;
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
}

.newsletter form input:last-child {
  display: inline-block;
  position: absolute;
  outline: none;
  border: 2px solid transparent;
  border-radius: 20px;
  color: white;
  background-color: #191919;
  padding: 14px 30px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 450;
  top: 6px;
  right: 6px;
  transition: ease 0.3s;
}

.newsletter form input:last-child:hover {
  border: 2px solid rgb(21, 74, 74);
  background-color: white;
  color: rgb(21, 74, 74);
}

/* Footer */

.footer {
  background: inherit;
  margin-top: 80px;
  background-color: #191919;
}

.foot {
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footlinks h4 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 30px;
  position: relative;
}

.footlinks h4::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 70px;
  left: 0;
  bottom: -7px;
  background: white;
}

.footlinks ul li {
  margin-bottom: 15px;
}

.footlinks ul li a {
  font-size: 17px;
  color: #dddddd;
  display: block;
  transition: ease 0.3s;
}

.footlinks ul li a:hover {
  transform: translate(6px);
  color: white;
}

.social a {
  font-size: 25px;
  margin: 4px;
  height: 40px;
  width: 40px;
  color: rgb(21, 74, 74);
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: ease 0.3s;
}

.social a:hover {
  transform: scale(1.2);
}

.end {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 12px;
}

.end p {
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
}

/* About Us */

.aboutbody {
  background-color: white;
}

.about {
  width: 100%;
  padding: 110px 0px;
}

.about img {
  position: static;
  border-radius: 55%;
  height: auto;
  width: 200px;
}

.abt-text {
  width: 900px;
}

.abt-text h1 {
  font-size: 50px;
  color: #191919;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.abt-text h1 span {
  letter-spacing: 1px;
}

.abt-text p {
  padding: 10px;
  margin-right: 150px;
  text-align: justify;
  color: black;
  font-size: 15px;
  margin-bottom: 45px;
  line-height: 30px;
  letter-spacing: 1px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.connectbtn {
  display: inline-block;
  background-color: #191919;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 20px;
  transition: ease 0.4s;
  border: 2px solid transparent;
  letter-spacing: 1px;
}

.connectbtn:hover {
  background-color: transparent;
  font-size: 18px;
  color: #191919;
  font-weight: bold;
  border: 2px solid green;
}

.connect-section {
  margin-top: 26px;
}

.social-icons a {
  height: 40px;
  width: 40px;
  margin: 4px;
  font-size: 30px;
  color: #101010;
  background-color: white;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: ease 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

/* Contact Us */

.contactbody {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  padding: 110px 20%;
  height: 100%;
  min-height: 100vh;
}

.contact h1 {
  text-decoration: wavy;
  font-size: 50px;
  color: #191919;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.contact h1 span {
  letter-spacing: 1px;
}

.contact p {
  padding: 10px;
  margin-right: 150px;
  text-align: justify;
  color: black;
  font-size: 15px;
  margin-bottom: 45px;
  line-height: 30px;
  letter-spacing: 1px;
}

.contact-form {
  grid-template-columns: auto auto auto;
  gap: 5%;
  padding: 35px;
  margin-top: 50px;
  margin-left: 35px;
  border-radius: 10px;
  font-size: 12px;
  color: black;
  background-color: white;
  box-shadow: 5px 5px 10px #3b3737;
  margin-right: 40%;
}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  outline: none;
  font-size: 15px;
  color: black;
  margin-bottom: 10px;
  border-radius: 10px;
}

.contact-form form .submit-btn {
  display: inline-block;
  background-color: #313131;
  font-size: 27px;
  color: white;
  font-weight: 600px;
  border: 2px solid transparent;
  border-radius: 40px;
  width: 220px;
  cursor: pointer;
  transition: ease 0.2s;
}

.contact-form form .submit-btn:hover {
  border: 2px solid green;
  font-size: 27px;
  color: #191919;
  font-weight: 600px;
  background-color: transparent;
}
